Source: python-pycrc32c
Section: python
Priority: optional
Maintainer: Nobody <nobody@localhost>
Build-Depends: debhelper (>= 9.0.0), dh-python, python-all, python-setuptools, python-dev, python-cffi, gcc
X-Python-Version: >= 2.7
Standards-Version: 3.9.8

Package: python-pycrc32c
Architecture: any
Description: crc32c for Python; uses the Intel CRC32 instruction and thus requires SSE4.2
